<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Home</title>
</head>
<body>
    <h1 class="welcome">Welcome To The DataBase Movie Internet*</h1>
    <form action='/movies' method="GET"><button type='submit' class='button'>JUMP IN</button></form>
    <p class='subtitle'>(*)Totally not a rip-off from IMDB</p>
  </body>
</html>